{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <link rel="stylesheet" href="{% static 'CabbageApp/css/style.css' %}">
    <title>Crop Forecasting System</title>

    <script language="javascript">
      function showPopup() { window.open("/CabbageApp/settings", "a", "width=350, height=260, left=450, top=200");}
    </script>
</head>
<body>
    <header>
        <h2><a class="hd" href="#" onclick="location.href='http://127.0.0.1:8000/'">농산물 가격 예측 시스템</a></h2>
    </header>

    <div class="icon">배추</div>

    <!-- 가로아이콘시작 -->
    <div class="hicon">
      <div class="crop">
        <a class="btn btnb" onclick="location.href='/CabbageApp/busan'">배추</a>
        <a class="btn btnm" onclick="location.href='/RadishApp/busan'">무</a>
        <a class="btn btno" onclick="location.href='/OnionApp/busan'">양파</a>
        <a class="btn btng" onclick="location.href='/PepperApp/busan'">건고추</a>
      </div>
      <!-- 팝업창띄우기 -->
      <a class="openBtn" onclick="showPopup()">요인입력</a>
    </div>
    <!-- 가로아이콘끝 -->

    <!-- 제목바 시작 -->
    <div class = "crt">
        <ul class="title">
            <li class="avg">
                <div class="numname">
                    <a class="inname">품질</a>
                    <a class="inname pricename">전월실제가격</a>
                    <a class="inname pricename">현월예측가격</a>
                </div>
                <a class="chartname">가격예측그래프(1년간)</a>
            </li>
        </ul>
    </div>
    <!-- 제목바 끝 -->

    <!-- 중요내용시작 -->
    <div class = "contents">
        <div class="place">
          <a class="pbtn" onclick="location.href='/CabbageApp/seoul'">서울</a>
          <a class="pbtn pbtnb"onclick="location.href='/CabbageApp/busan'">부산</a>
          <a class="pbtn"onclick="location.href='/CabbageApp/daegu'">대구</a>
          <a class="pbtn"onclick="location.href='/CabbageApp/daejeon'">대전</a>
          <a class="pbtn"onclick="location.href='/CabbageApp/gwangju'">광주</a>
        </div>

        <div class = "content">
            <div class="num">
                <ul class="items">
                    <li class="item">
                        <a class="in"> 평균 </a>
                        <a class="in">{{mean}}원/kg</a>
                        <a class="in"> {{default_mean}}원/kg</a>
                    </li>
                </ul>
                <ul class="items">
                    <li class="item">
                        <a class="in"> 상품 </a>
                        <a class="in"> {{high}}원/kg </a>
                        <a class="in"> {{default_high}}원/kg </a>
                    </li>
                </ul>
                <ul class="items">
                    <li class="item">
                        <a class="in"> 중품 </a>
                        <a class="in"> {{middle}}원/kg </a>
                        <a class="in"> {{default_middle}}원/kg </a>
                    </li>
                </ul>
            </div>
            <div class="chart">
                <canvas class="cchart" id="canvas" width="680" height="420"></canvas>
                {% comment %} <script type="text/javascript" src="{% static 'CabbageApp/js/script.js' %}"></script> {% endcomment %}
            </div>
        </div>

    </div>
    <!-- 중요내용끝 -->
    <script>
      var high_list = {{high_list}};
      var mean_list = {{mean_list}};
      var middle_list = {{middle_list}};
      window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        new Chart(ctx, {
          type: "line",
          data: {
            labels: ["9월","10월","11월","12월","1월","2월","3월","4월","5월", "6월","7월","8월"],
            datasets: [
              {
                label: '평균값',        
                data: mean_list,
                backgroundColor: '#60c0ce',
                borderColor: '#60c0ce',
                borderWidth: 3,
                pointStyle: 'rectRot',
                pointRadius: 5,
                pointHoverRadius: 8,
                fill: false
              },
              {
                label: '상품값',        
                data: high_list,
                backgroundColor: '#e24f31',
                borderColor: '#e24f31',
                borderWidth: 3,
                pointStyle: 'rectRot',
                pointRadius: 5,
                pointHoverRadius: 8,
                fill: false
              },
              {
                label: '중품값',        
                data: middle_list,
                backgroundColor: '#18b171',
                borderColor: '#18b171',
                borderWidth: 3,
                pointStyle: 'rectRot',
                pointRadius: 5,
                pointHoverRadius: 8,
                fill: false
            
              }
            ]
          },
          options: {
              legend: {
                position: 'bottom',
                labels: {
                  usePointStyle: true,
                },
              },
              annotation: {
                annotations: [
                  {
                    type: "line",
                    mode: "vertical",
                    scaleID: "x-axis-0",
                    value: '6월',
                    borderWidth: 2,
                    borderColor: "#F6BB43",
                    label: {
                      content: "현월",
                      enabled: true,
                      position: "top"
                    }
                  }
                ]
              },
              responsive: false,
              tooltips: {
                mode: 'index',
                intersect: true,
                titleFontSize: 15,
                bodyFontSize: 15
              },
              hover: {
                mode: 'index',
                intersect: true
              },
              scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }],
                xAxes: [{
                  ticks: {
                        beginAtZero: true,
                  }
                }]
              }
            }
        });
      };
    </script>
    

</body>
</html>