{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <link rel="stylesheet" href="{% static 'CabbageApp/css/style.css' %}">
    <title>Crop Forecasting System</title>

    <script language="javascript">
      function showPopup() { window.open("/CabbageApp/settings", "a", "width=350, height=260, left=450, top=200");}
    </script>
</head>
<body>
    <header>
        <h2><a class="hd" href="#" onclick="location.href='http://127.0.0.1:8000/'">농산물 가격 예측 시스템</a></h2>
    </header>

    <div class="icon">배추</div>

    <div class="crop">
        <a class="btn btnb" onclick="location.href='/CabbageApp/busan'">배추</a>
        <a class="btn btnm" onclick="location.href='/RadishApp/busan'">무</a>
        <a class="btn btno" onclick="location.href='/OnionApp/busan'">양파</a>
        <a class="btn btng" onclick="location.href='/PepperApp/busan'">건고추</a>
        

        <!-- 팝업창띄우기 -->
        <a class="openBtn" onclick="showPopup()">요인입력</a>
    </div>



    </div>

    <div class = "cbody">
        <div class="place">
            <a class="pbtn" onclick="location.href='/CabbageApp/seoul'">서울</a>
            <a class="pbtn pbtnb"onclick="location.href='/CabbageApp/busan'">부산</a>
            <a class="pbtn"onclick="location.href='/CabbageApp/daegu'">대구</a>
            <a class="pbtn"onclick="location.href='/CabbageApp/daejeon'">대전</a>
            <a class="pbtn"onclick="location.href='/CabbageApp/gwangju'">광주</a>
        </div>

        <div class = "crt">
            <ul class="title">
                <li class="avg">
                    <a class="mtitle">품질</a>
                    <a class="before">전월실제가격</a>
                    <a class="present">현월예측가격</a>
                    <a class="cchart">가격예측그래프(1년간)</a>
                </li>
            </ul>
            <ul class="item sj">
                <li class="avg">
                    <a class="mtitle in">평균</a>
                    <a class="before in">{{mean}}원/kg</a>
                    {% comment %} {% if form.is_valid %}
                    <a class="present in">{{}} 원/kg</a> {% endcomment %}
                    <a class="present in"> {{default_mean}}원/kg</a>
                    <canvas class="cchart cbg" id="canvas" width="450" height="150"></canvas>
                </li>
            </ul>
            <ul class="item s">
                <li class="avg">
                    <a class="mtitle in">상품</a>
                    <a class="before in">{{high}}원/kg</a>
                    <a class="present in">{{default_high}}원/kg</a>
                    <canvas class="cchart cbg" id="hcanvas" width="450" height="150"></canvas>
                </li>
            </ul>
            <ul class="item j">
                <li class="avg">
                    <a class="mtitle in">중품</a>
                    <a class="before in">{{mean}}원/kg</a>
                    <a class="present in">{{default_middle}}원/kg</a>
                    <canvas class="cchart cbg" id="mcanvas" width="450" height="150"></canvas>
                    <script type="text/javascript" src="{% static 'CabbageApp/js/script.js' %}"></script>
                </li>
            </ul>
        </div>

    </div>
    <script>
        var chartData = {
            labels: ["9","10","11","12","1","2","3","4","5", "6","7","8"],
            datasets: [{
                label: '평균값',        
                data: [{x: 1, y: {{mean_9}}}, {x: 2, y: {{mean_10}}}, {x: 3, y: {{mean_11}}}, {x: 4, y: {{mean_12}}}, {x: 5, y: {{mean_1}}}, {x: 6, y: {{mean_2}}}, {x: 7, y: {{mean_3}}}, {x: 8, y: {{mean_4}}}, {x: 9, y: {{mean_5}}}, {x: 10, y: 0}, {x: 11, y: 0}, {x: 12, y: 0}]
            
            }]
        };
        var high_1 = {{high_1}}; 
        console.log(high_1);
        var hchartData = {
          labels: ["9","10","11","12","1","2","3","4","5", "6","7","8"],
          datasets: [{
              label: '상품값',        
              data: [{x: 1, y: {{high_9}}}, {x: 2, y: {{high_10}}}, {x: 3, y: {{high_11}}}, {x: 4, y: {{high_12}}}, {x: 5, y: {{high_1}}}, {x: 6, y: {{high_2}}}, {x: 7, y: {{high_3}}}, {x: 8, y: {{high_4}}}, {x: 9, y: {{high_5}}}, {x: 10, y: 0}, {x: 11, y: 0}, {x: 12, y: 0}]
          
          }]
        };
        var mchartData = {
          labels: ["9","10","11","12","1","2","3","4","5", "6","7","8"],
          datasets: [{
              label: '중품값',        
              data: [{x: 1, y: 1200}, {x: 2, y: 700}, {x: 3, y: 1500}, {x: 4, y: 1000}, {x: 5, y: 1800}, {x: 6, y: 1400}, {x: 7, y: 1000}, {x: 8, y: 1200}, {x: 9, y: 1300}, {x: 10, y: 800}, {x: 11, y: 1100}, {x: 12, y: 1000}]
          
          }]
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            new Chart(ctx, {
              type: "line",
              data: chartData,
              options: {
                  legend: {
                    display: false,
                  },
                  annotation: {
                    annotations: [
                      {
                        drawTime: "afterDatasetsDraw",
                        type: "line",
                        mode: "vertical",
                        scaleID: "x-axis-0",
                        value: 10,
                        borderWidth: 2,
                        borderColor: "#e24f31",
                        label: {
                          content: "현월",
                          enabled: true,
                          position: "top"
                        }
                      }
                    ]
                  },
                  responsive: false,
                  scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                      type: 'linear',
                      ticks: {
                            stepSize: 1,
                            callback: function(value, index, values) {
                                return chartData.labels[index];
                            }
                      }
                    }]
                  }
                }
            });
          
            var hctx = document.getElementById("hcanvas").getContext("2d");
            new Chart(hctx, {
              type: "line",
              data: hchartData,
              options: {
                  legend: {
                    display: false,
                  },
                  annotation: {
                    annotations: [
                      {
                        drawTime: "afterDatasetsDraw",
                        type: "line",
                        mode: "vertical",
                        scaleID: "x-axis-0",
                        value: 10,
                        borderWidth: 2,
                        borderColor: "#e24f31",
                        label: {
                          content: "현월",
                          enabled: true,
                          position: "top"
                        }
                      }
                    ]
                  },
                  responsive: false,
                  scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                      type: 'linear',
                      ticks: {
                            stepSize: 1,
                            callback: function(value, index, values) {
                                return chartData.labels[index];
                            }
                      }
                    }]
                  }
                }
            });
          
            var mctx = document.getElementById("mcanvas").getContext("2d");
            new Chart(mctx, {
              type: "line",
              data: mchartData,
              options: {
                  legend: {
                    display: false,
                  },
                  annotation: {
                    annotations: [
                      {
                        drawTime: "afterDatasetsDraw",
                        type: "line",
                        mode: "vertical",
                        scaleID: "x-axis-0",
                        value: 10,
                        borderWidth: 2,
                        borderColor: "#e24f31",
                        label: {
                          content: "현월",
                          enabled: true,
                          position: "top"
                        }
                      }
                    ]
                  },
                  responsive: false,
                  scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                      type: 'linear',
                      ticks: {
                            stepSize: 1,
                            callback: function(value, index, values) {
                                return chartData.labels[index];
                            }
                      }
                    }]
                  }
                }
            });
          };
    </script>
    

</body>
</html>