{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CabbageApp/css/style.css' %}">
    <title>배추 요인입력창</title>
    <script>
        function clickEvent(){
            opener.location.reload();
            // window.close()  
        }
    </script>
</head>
<body>
    <form action="{% url 'CabbageApp:settings'%}" method="POST"> 
        {% csrf_token %}
        {{form.as_p}}
        <div class="lastBtn">
            <a class="closeBtn" onClick="window.close()">취소</a>
            <input class="checkBtn" type="submit" onClick="clickEvent();" value="확인">
        </div>
    </form>
</body>
</html>