{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Crop Forecasting System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

  <header>
    <h2>농산물 가격 예측 시스템</h2>
  </header>

  <!-- <img src="grass.jpg" alt="My Image" width="1263"> -->
  <nav class="mm">
  <div class = "sentence">
    <p>저희 서비스는 농산물에 영향을 미치는 기상상황, 물가지수 등 여러 요인들을 기반으로 농산물의 가격을 예측하여 제공하는 서비스입니다.</p> 
    <p>제공하는 작물로는 배추, 건고추, 무, 양파가 있으며 추후 가격데이터만 제공된다면 무한으로 작물을 늘릴수도 있습니다.</p>
  </div>

  <!-- 작물아이콘 시작 -->

  <div class="icon bicon">배추
      <ul class="menu bmenu">     
        <li class="spread bspread">
          <a class="unit bunit" href="{{CabbageApp}}CabbageApp/seoul">서울</a>
        </li>
    
        <li class="spread bspread">
          <a class="unit bunit" href="{{CabbageApp}}CabbageApp/busan">부산</a>
        </li>
    
        <li class="spread bspread">
          <a class="unit bunit" href="{{CabbageApp}}/CabbageApp/daegu">대구</a>
        </li>
    
        <li class="spread bspread">
          <a class="unit bunit" href="{{CabbageApp}}/CabbageApp/daejeon">대전</a>
        </li>
    
        <li class="spread bspread">
          <a class="unit bunit" href="{{CabbageApp}}/CabbageApp/gwangju">광주</a>
        </li>     
      </ul>
    </div>

    <div class="icon micon">무
      <ul class="menu mmenu">     
        <li class="spread mspread">
          <a class="unit bunit" href="/RadishApp/seoul">서울</a>
        </li>
    
        <li class="spread mspread">
          <a class="unit munit" href="/RadishApp/busan">부산</a>
        </li>
    
        <li class="spread mspread">
          <a class="unit munit" href="/RadishApp/daegu">대구</a>
        </li>
    
        <li class="spread mspread">
          <a class="unit munit" href="/RadishApp/daejeon">대전</a>
        </li>
    
        <li class="spread mspread">
          <a class="unit munit" href="/RadishApp/gwangju">광주</a>
        </li>     
      </ul>
    </div>

    <div class="icon oicon">양파
      <ul class="menu omenu">     
        <li class="spread ospread">
          <a class="unit bunit" href="/OnionApp/seoul">서울</a>
        </li>
    
        <li class="spread ospread">
          <a class="unit ounit" href="/OnionApp/busan">부산</a>
        </li>
    
        <li class="spread ospread">
          <a class="unit ounit" href="/OnionApp/daegu">대구</a>
        </li>
    
        <li class="spread ospread">
          <a class="unit ounit" href="/OnionApp/daejeon">대전</a>
        </li>
    
        <li class="spread ospread">
          <a class="unit ounit" href="/OnionApp/gwangju">광주</a>
        </li>     
      </ul>
    </div>

    <div class="icon gicon">건고추
      <ul class="menu gmenu">     
        <li class="spread gspread">
          <a class="unit bunit" href="/PepperApp/seoul">서울</a>
        </li>
    
        <li class="spread gspread">
          <a class="unit gunit" href="/PepperApp/busan">부산</a>
        </li>
    
        <li class="spread gspread">
          <a class="unit gunit" href="/PepperApp/daegu">대구</a>
        </li>
    
        <li class="spread gspread">
          <a class="unit gunit" href="/PepperApp/daejeon">대전</a>
        </li>
    
        <li class="spread gspread">
          <a class="unit gunit" href="/PepperApp/gwangju">광주</a>
        </li>     
      </ul>
    </div>

  <!-- 작물아이콘 끝 -->

  <!-- 차트시작 -->
  <div class="cc" >
    <canvas class="chart" id="bchart" width="250" height="250"></canvas>
    <canvas class="chart" id="mchart" width="250" height="250"></canvas>
    <canvas class="chart" id="ochart" width="250" height="250"></canvas>
    <canvas class="chart" id="gchart" width="250" height="250"></canvas>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    
    <script>
      var cabbage_high_list = {{cabbage_high_list}};
      var cabbage_middle_list = {{cabbage_middle_list}};
      var cabbage_mean_list = {{cabbage_mean_list}};
      var bchart = new Chart(bchartArea, {
        type: 'line',
        data: {
            labels: ['전월', '현월', '다음월'],
            datasets: [
                {
                    label: '최댓값',
                    data: cabbage_high_list,
                    backgroundColor: '#e24f31',
                    borderColor: '#e24f31',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: '예측값',
                    data: cabbage_mean_list,
                    backgroundColor: '#60c0ce',
                    borderColor: '#60c0ce',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: '최저값',
                    data: cabbage_middle_list,
                    backgroundColor: '#18b171',
                    borderColor: '#18b171',
                    borderWidth: 1,
                    fill: false
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: '배추가격'
            },
            legend: {
                position:'bottom',
                labels: {
                    boxWidth: 10
                }
            },
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            },
        }
    });
    var radish_high_list = {{radish_high_list}};
    var radish_middle_list = {{radish_middle_list}};
    var radish_mean_list = {{radish_mean_list}};
    var mchart = new Chart(mchartArea, {
      type: 'line',
      data: {
          labels: ['전월', '현월', '다음월'],
          datasets: [
              {
                  label: '최대값',
                  data: radish_high_list,
                  backgroundColor: '#e24f31',
                  borderColor: '#e24f31',
                  borderWidth: 1,
                  fill: false
              },
              {
                  label: '예측값',
                  data: radish_mean_list,
                  backgroundColor: '#60c0ce',
                  borderColor: '#60c0ce',
                  borderWidth: 1,
                  fill: false
              },
              {
                  label: '최저값',
                  data: radish_middle_list,
                  backgroundColor: '#18b171',
                  borderColor: '#18b171',
                  borderWidth: 1,
                  fill: false
              }
          ]
      },
      options: {
          title: {
              display: true,
              text: '무가격'
          },
          legend: {
              position:'bottom',
              labels: {
                  boxWidth: 10
              }
          },
          responsive: false,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                  }
              }]
          },
      }
  });
  var onion_high_list = {{onion_high_list}};
  var onion_middle_list = {{onion_middle_list}};
  var onion_mean_list = {{onion_mean_list}};
  var ochart = new Chart(ochartArea, {
      type: 'line',
      data: {
          labels: ['전월', '현월', '다음월'],
          datasets: [
              {
                  label: '최대값',
                  data: onion_high_list,
                  backgroundColor: '#e24f31',
                  borderColor: '#e24f31',
                  borderWidth: 1,
                  fill: false
              },
              {
                  label: '예측값',
                  data: onion_mean_list,
                  backgroundColor: '#60c0ce',
                  borderColor: '#60c0ce',
                  borderWidth: 1,
                  fill: false
              },
              {
                  label: '최저값',
                  data: onion_middle_list,
                  backgroundColor: '#18b171',
                  borderColor: '#18b171',
                  borderWidth: 1,
                  fill: false
              }
          ]
      },
      options: {
          title: {
              display: true,
              text: '양파가격'
          },
          legend: {
              position:'bottom',
              labels: {
                  boxWidth: 10
              }
          },
          responsive: false,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                  }
              }]
          },
      }
  });
  var pepper_high_list = {{pepper_high_list}};
  var pepper_middle_list = {{pepper_middle_list}};
  var pepper_mean_list = {{pepper_mean_list}};
  var gchart = new Chart(gchartArea, {
      type: 'line',
      data: {
          labels: ['전월', '현월', '다음월'],
          datasets: [
              {
                  label: '최대값',
                  data: pepper_high_list,
                  backgroundColor: '#e24f31',
                  borderColor: '#e24f31',
                  borderWidth: 1,
                  fill: false
              },
              {
                  label: '예측값',
                  data: pepper_mean_list,
                  backgroundColor: '#60c0ce',
                  borderColor: '#60c0ce',
                  borderWidth: 1,
                  fill: false
              },
              {
                  label: '최저값',
                  data: pepper_middle_list,
                  backgroundColor: '#18b171',
                  borderColor: '#18b171',
                  borderWidth: 1,
                  fill: false
              }
          ]
      },
      options: {
          title: {
              display: true,
              text: '건고추가격'
          },
          legend: {
              position:'bottom',
              labels: {
                  boxWidth: 10
              }
          },
          responsive: false,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                  }
              }]
          },
      }
  });
    </script>
    </div>
    </nav>
</body>
</html>