<!DOCTYPE html>
<html lang="en">
<head>
  <title>도매가격</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>high_10</B></td> 
        </tr>
        </thead>
        <tbody>
        {% for cabbage in high_10 %}
        <tr>
            <td>{{cabbage}}</td>  
        </tr>
        {% endfor %}
        <tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>high_11</B></td> 
        </tr>
        </thead>
        <tbody>
        {% for cabbage in high_11 %}
        <tr>
            <td>{{cabbage}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>

                <td><B>high_12</B></td> 
            </tr>
            </thead>
            <tbody>
            {% for cabbage in high_12 %}
            <tr>
                <td>{{cabbage}}</td>  
            </tr>                
    {% endfor %}
    <tbody>
</table>